.component {
    /* background-color: green; */
}

.header h1 {
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--text_4);
}

.body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media(max-width: 860px) {
    .row_1 {
        grid-template-columns: 1fr;
    }
}