.component {
    width: fit-content;
    button {
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--text_4);
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;

        svg {
            width: 15px;
        }
    }
}